{% extends 'base.html' %} 
{% block content %}
   {% if review %}
   <h2 class="heading">Review for {{review.title.book_title}}</h2>
   <div class="container">
      <div class="row">
         Author:{{review.title.authors.author_fname}} {{review.title.authors.author_lname}}
      </div>
      <div class="row">
         Rating:{{review.rating}}
      </div>
      <div class="row">
         Review:{{review.review}}
      </div>
   </div>
   {% else %}
      <p>Sorry - Review not found!</p>
   {% endif %}
{% endblock %}
